div.wrap {
  align-self: center;
  padding: 10%;
}
div.row {
  align-content: center;
  padding: 0 12px 0 12px;
  margin: 6px 10px 6px 10px;
}
h1 {
  text-emphasis: bold black ;
  text-align: center;
  align-self: top center;
}
.mat-flat-button {
  background-color: darkgreen;
  color: ghostwhite;
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
mat-card-actions {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
}
mat-card-subtitle {
  text-align: center;
}
p.warning {
  text-align: center;
  color: maroon;
}
p.success {
  text-align: center;
  color: darkgreen;
}
input {
  text-align: center;
  width: 100%;
  border: darkgreen dashed 0.5px;
}
p.bottom {
  text-align: center;
}